@font-face {
    font-family: quinque-five;
    src: url(../fonts/Quinquefive-ALoRM.ttf);
}

* {
    margin: 0;
    padding: 0;

    font-family: quinque-five;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vh;
    width: 50vw;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -25vw;
    top: 50%;
    margin-top: -25vh;
}